## Hoàng Ngọc Dung
MSSV: 23139006

In [45]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv("clean_feature.csv")
df_clean = df.dropna().drop_duplicates() # Xoá các dòng bị thiếu và trùng lặp
df_clean

,Day,DoWeek,hour,count,passed,period,data,ServiceID
0,2021-12-29,2,17,2974,2974,63.952589,612.081036,2
1,2021-12-29,2,17,4528,4528,63.000000,960.307862,11
2,2021-12-29,2,17,19,19,62.000000,566.315789,5
3,2021-12-29,2,17,1207,1207,63.000000,601.025684,7
4,2021-12-29,2,18,8450,8450,63.942130,611.024024,2
...,...,...,...,...,...,...,...,...
450666,2023-07-24,0,18,1,1,62.000000,624.000000,1
450667,2023-07-24,0,18,108,108,62.000000,1075.972222,5
450668,2023-07-24,0,18,5279,5279,63.000000,599.900170,7
450669,2023-07-24,0,18,2,2,63.000000,1437.500000,0
450670,2023-07-24,0,18,18,18,0.000000,378255.166667,10

In [47]:
# Cho thời điểm t (tính theo đơn vị giờ) , hãy querry dataframe nằm trong khoảng thời gian t-T. Trong đó T là giá trị biết trước tính bằng giờ
import pandas as pd

df["datetime"] = pd.to_datetime(df["Day"]) + pd.to_timedelta(df["hour"], unit="h")

def query_interval(df, t_datetime, T):
    start = t_datetime - pd.Timedelta(hours=T)
    return df[(df["datetime"] >= start) & (df["datetime"] <= t_datetime)]

t = pd.to_datetime("2021-12-30 3:00")
result = query_interval(df, t, 5)
result.sort_index()
# print(result[["Day", "hour", "datetime"]])

,Day,DoWeek,hour,count,passed,period,data,ServiceID,datetime
24,2021-12-29,2,22,1020,1020,63.885294,606.600980,2,2021-12-29 22:00:00
25,2021-12-29,2,22,1941,1941,63.000000,926.139619,11,2021-12-29 22:00:00
26,2021-12-29,2,22,19,19,62.000000,624.368421,5,2021-12-29 22:00:00
27,2021-12-29,2,22,414,414,63.000000,600.282609,7,2021-12-29 22:00:00
28,2021-12-29,2,22,2672,2672,63.869760,592.565868,2,2021-12-29 22:00:00
...,...,...,...,...,...,...,...,...,...
338087,2021-12-30,3,2,1,0,60.000000,1468.000000,3,2021-12-30 02:00:00
338088,2021-12-30,3,3,535,535,63.142056,444.745794,2,2021-12-30 03:00:00
338089,2021-12-30,3,3,2423,2423,63.000000,778.037969,11,2021-12-30 03:00:00
338090,2021-12-30,3,3,19,19,62.000000,13350.052632,5,2021-12-30 03:00:00
338091,2021-12-30,3,3,273,273,63.000000,599.633700,7,2021-12-30 03:00:00

In [48]:
# Mô tả dataframe
print("Kích thước DataFrame:", df.shape)

# Thông tin tổng quan
print("\nThông tin DataFrame:")
print(df.info())

Kích thước DataFrame: (450671, 9)

Thông tin DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450671 entries, 0 to 450670
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Day        450671 non-null  object
 1   DoWeek     450671 non-null  int64
 2   hour       450671 non-null  int64
 3   count      450671 non-null  int64
 4   passed     450671 non-null  int64
 5   period     450671 non-null  float64
 6   data       450671 non-null  float64
 7   ServiceID  450671 non-null  int64
 8   datetime   450671 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 30.9+ MB
None

In [49]:
# Dùng groupby để nhóm các dữ liệu của cùng một dịch vụ thành từng nhóm.
grouped = df.groupby("ServiceID")
grouped.describe()

            DoWeek                                                  hour  \
             count      mean  min  25%  50%  75%  max       std    count
ServiceID
0          23726.0  2.351429  0.0  1.0  2.0  4.0  6.0  1.711177  23726.0
1          43774.0  2.648239  0.0  1.0  3.0  4.0  6.0  1.882892  43774.0
2          84897.0  2.933955  0.0  1.0  3.0  5.0  6.0  1.987548  84897.0
3           3167.0  3.084623  0.0  1.0  3.0  5.0  6.0  2.029109   3167.0
4           2629.0  1.950932  0.0  1.0  2.0  3.0  6.0  1.483377   2629.0
5          84261.0  2.933587  0.0  1.0  3.0  5.0  6.0  1.987942  84261.0
6           7835.0  2.098660  0.0  1.0  2.0  3.0  6.0  1.426469   7835.0
7          84862.0  2.933209  0.0  1.0  3.0  5.0  6.0  1.987183  84862.0
8          23811.0  2.110789  0.0  1.0  2.0  3.0  6.0  1.450742  23811.0
9           1150.0  3.326957  0.0  2.0  4.0  5.0  6.0  2.090024   1150.0
10          5665.0  2.930274  0.0  1.0  3.0  5.0  6.0  1.939564   5665.0
11         84894.0  2.934130  0.0  1.0  3.0  5.0  6.0  1.987473  84894.0

                      ...           data               datetime  \
                mean  ...            max           std    count
ServiceID             ...
0          12.880216  ...    5628.000000    535.443186    23726
1          12.438068  ...    1468.000000    118.370244    43774
2          12.198900  ...    2001.694444     54.164231    84897
3          13.802968  ...    1468.000000    282.081091     3167
4          13.106885  ...  330445.000000  29496.630942     2629
5          12.200366  ...  284798.000000   7825.219865    84261
6          13.259221  ...    1109.000000    151.155406     7835
7          12.197968  ...     734.334975      3.081089    84862
8          13.384738  ...   19922.000000    656.604357    23811
9          12.305217  ...    1468.000000     72.771600     1150
10         12.318270  ...  378361.366667   2822.346445     5665
11         12.199201  ...    3187.127660     70.010598    84894

                                                               \
                                    mean                  min
ServiceID
0          2022-10-29 18:50:28.576245504  2021-12-29 21:00:00
1          2022-11-24 00:22:22.166582784  2021-12-30 07:00:00
2          2022-10-25 14:27:19.351213824  2021-12-29 17:00:00
3          2022-10-15 05:04:22.582886144  2021-12-29 21:00:00
4          2023-06-18 21:18:16.842906112  2023-04-08 09:00:00
5          2022-10-25 16:21:49.374443776  2021-12-29 17:00:00
6          2022-12-27 18:58:41.429483264  2022-03-07 08:00:00
7          2022-10-25 13:33:32.915085568  2021-12-29 17:00:00
8          2022-12-07 15:51:11.437570816  2022-03-05 09:00:00
9          2023-06-20 07:57:51.652173824  2023-05-17 22:00:00
10         2023-07-17 02:52:14.827890944  2023-06-28 13:00:00
11         2022-10-25 14:21:33.674464768  2021-12-29 17:00:00

                                                                          \
                           25%                  50%                  75%
ServiceID
0          2022-06-15 07:00:00  2022-10-28 16:30:00  2023-03-27 10:00:00
1          2022-07-01 15:00:00  2022-12-09 15:00:00  2023-04-29 09:00:00
2          2022-06-04 14:00:00  2022-10-30 14:00:00  2023-03-21 03:00:00
3          2022-05-16 22:30:00  2022-10-13 20:00:00  2023-03-17 12:00:00
4          2023-05-18 10:00:00  2023-06-29 15:00:00  2023-07-18 10:00:00
5          2022-06-04 14:00:00  2022-10-30 21:00:00  2023-03-21 08:00:00
6          2022-09-16 11:00:00  2023-01-18 10:00:00  2023-04-18 16:00:00
7          2022-06-04 14:00:00  2022-10-30 13:00:00  2023-03-20 23:00:00
8          2022-07-21 15:00:00  2022-12-20 11:00:00  2023-04-18 16:00:00
9          2023-06-16 19:00:00  2023-06-18 23:00:00  2023-06-26 05:00:00
10         2023-07-07 20:00:00  2023-07-17 04:00:00  2023-07-26 09:00:00
11         2022-06-04 14:00:00  2022-10-30 14:00:00  2023-03-21 02:45:00


                           max  std
ServiceID
0          2023-08-04 18:00:00  NaN
1          2023-08-04 18:00:00  NaN
2          2023-08-04 18:00:00  NaN
3          2023-08-04 17:00:00  NaN
4          2023-08-04 18:00:00  NaN
5          2023-08-04 18:00:00  NaN
6          2023-08-04 17:00:00  NaN
7          2023-08-04 18:00:00  NaN
8          2023-08-04 18:00:00  NaN
9          2023-06-30 13:00:00  NaN
10         2023-08-04 18:00:00  NaN
11         2023-08-04 18:00:00  NaN

[12 rows x 56 columns]

In [50]:
# Rút trích các đặc trưng
agg_df = df.groupby("ServiceID").agg(
    total_calls=("count", "sum"),          # a> Tổng số lần gọi
    total_success=("passed", "sum"),       # b> Tổng số lần gọi thành công
    mean_exec_time=("period", "mean"),     # c> Trị trung bình thời gian thực thi
    mean_data_usage=("data", "mean")       # d> Trị trung bình dữ liệu sử dụng
).reset_index()

agg_df

    ServiceID  total_calls  total_success  mean_exec_time  mean_data_usage
0           0        53861          53656       62.999958      1493.430614
1           1      2965424        2950277       61.999677       483.487817
2           2    490033066      490033066       63.847479       612.283415
3           3         3358            175       60.151089      1402.779760
4           4         4350           3079       39.676683     23847.437359
5           5      7918825        7918824       61.999985      4518.352808
6           6        12044          11943       62.000000       534.289684
7           7    248697169      248618247       62.999970       601.359937
8           8        79345          78074       62.000000       602.045923
9           9         4013           4009       62.993478       722.886093
10         10       108271         108270        0.000000    374698.103523
11         11    681952661      681934129       62.998523       915.142904

In [ ]:
# Gọi M là số thời điểm (t) có thể lấy được trong bộ dữ liệu, và N là số dịch vụ, hãy thành lập một ma trận kích thước M*(4*N) chứa các đặc trưng của câu 5 cho mỗi dịch vụ


features = df.groupby(["datetime", "ServiceID"]).agg(
    total_calls=("count", "sum"), # a> Tổng số lần gọi
    total_success=("passed", "sum"), # b> Tổng số lần gọi thành công
    mean_exec_time=("period", "mean"), # c> Trị trung bình thời gian thực thi
    mean_data_usage=("data", "mean") # d> Trị trung bình dữ liệu sử dụng
)

matrix = features.unstack(level="ServiceID")

matrix = matrix.sort_index(axis=1, level=1)
matrix

,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,...,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success
ServiceID,0,0,0,0,1,1,1,1,2,2,...,9,9,10,10,10,10,11,11,11,11
datetime,,,,,,,,,,,,,,,,,,,,,
2021-12-29 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612.824589,63.971920,...,NaN,NaN,NaN,NaN,NaN,NaN,959.758965,63.000000,10253.0,10253.0
2021-12-29 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,613.510406,63.941055,...,NaN,NaN,NaN,NaN,NaN,NaN,946.017958,63.000000,52502.0,52502.0
2021-12-29 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,617.514337,63.954561,...,NaN,NaN,NaN,NaN,NaN,NaN,942.381225,63.000000,51661.0,51661.0
2021-12-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,606.831622,63.933812,...,NaN,NaN,NaN,NaN,NaN,NaN,952.353477,63.000000,47214.0,47214.0
2021-12-29 21:00:00,945.000000,63.0,2.0,2.0,NaN,NaN,NaN,NaN,605.694905,63.920172,...,NaN,NaN,NaN,NaN,NaN,NaN,951.286916,63.000000,38543.0,38543.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-04 14:00:00,1365.906250,63.0,27.0,27.0,570.103006,62.0,666.0,666.0,662.002810,63.959481,...,NaN,NaN,378357.800331,0.0,120.0,120.0,942.030206,62.999984,93387.0,93387.0
2023-08-04 15:00:00,1794.828869,63.0,29.0,29.0,562.248852,62.0,695.0,695.0,656.765944,63.960655,...,NaN,NaN,378357.863103,0.0,120.0,120.0,956.580183,62.999953,102517.0,102517.0
2023-08-04 16:00:00,1532.854762,63.0,24.0,24.0,583.976993,62.0,542.0,542.0,659.593120,63.962786,...,NaN,NaN,378357.767055,0.0,120.0,120.0,945.938118,62.999937,99614.0,99614.0
2023-08-04 17:00:00,1258.250000,63.0,3.0,3.0,569.960938,62.0,94.0,94.0,643.919525,63.956734,...,NaN,NaN,378357.849337,0.0,120.0,120.0,933.179874,62.999895,89608.0,89608.0
2023-08-04 18:00:00,945.000000,63.0,1.0,1.0,513.300000,62.0,10.0,10.0,646.670255,63.943235,...,NaN,NaN,378357.702381,0.0,33.0,33.0,928.712273,63.000000,21944.0,21944.0