## Hoàng Ngọc Dung
MSSV: 23139006

In [35]:
import numpy as np
import pandas as pd

In [1]:
file_path = "clean_feature.csv"
df = pd.read_csv(file_path)
df_clean = df.dropna().drop_duplicates()
df_clean

NameError: name 'pd' is not defined

1> Lập hirachical index theo các level sau : Năm, ngày trong tuần, giờ, dịch vụ

2> thay đổi level theo ngày, năm, dịch vụ

3> Tính phân phối các dịch vụ theo ngày

4> tính phân phối các dịch vụ theo giờ

In [92]:
df_clean["Day"] = pd.to_datetime(df_clean["Day"])
df_clean["Year"] = df_clean["Day"].dt.year
# print(df_clean["Year"])
df_hier = df_clean.set_index(["Year", "DoWeek", "hour", "ServiceID"])
df_hier
# print(df_hier.head(20))

                                  Day  count  passed     period           data
Year DoWeek hour ServiceID
2021 2      17   2         2021-12-29   2974    2974  63.952589     612.081036
                 11        2021-12-29   4528    4528  63.000000     960.307862
                 5         2021-12-29     19      19  62.000000     566.315789
                 7         2021-12-29   1207    1207  63.000000     601.025684
            18   2         2021-12-29   8450    8450  63.942130     611.024024
...                               ...    ...     ...        ...            ...
2023 0      18   1         2023-07-24      1       1  62.000000     624.000000
                 5         2023-07-24    108     108  62.000000    1075.972222
                 7         2023-07-24   5279    5279  63.000000     599.900170
                 0         2023-07-24      2       2  63.000000    1437.500000
                 10        2023-07-24     18      18   0.000000  378255.166667

[443011 rows x 5 columns]

In [89]:
df_hier = df_hier.swaplevel('DoWeek', 'Year')
df_hier = df_hier.swaplevel('ServiceID', 'hour')
df_hier

                                  Day  count  passed     period           data
DoWeek Year hour ServiceID
2      2021 17   2         2021-12-29   2974    2974  63.952589     612.081036
                 11        2021-12-29   4528    4528  63.000000     960.307862
                 5         2021-12-29     19      19  62.000000     566.315789
                 7         2021-12-29   1207    1207  63.000000     601.025684
            18   2         2021-12-29   8450    8450  63.942130     611.024024
...                               ...    ...     ...        ...            ...
0      2023 18   1         2023-07-24      1       1  62.000000     624.000000
                 5         2023-07-24    108     108  62.000000    1075.972222
                 7         2023-07-24   5279    5279  63.000000     599.900170
                 0         2023-07-24      2       2  63.000000    1437.500000
                 10        2023-07-24     18      18   0.000000  378255.166667

[443011 rows x 5 columns]

In [ ]:
# Tính phân phối theo ngày
pivot_counts_day = pd.pivot_table(
    df_hier,
    index="DoWeek",
    columns="ServiceID",
    values="count",  
    aggfunc="sum",   
    fill_value=0
)
pd.pivot_table(
    df_hier,
    index="DoWeek",
    columns="ServiceID",
    values="count",  
    aggfunc="sum",   
    fill_value=0
)

ServiceID,0,1,2,3,4,5,6,7,8,9,10,11
DoWeek,,,,,,,,,,,,
0,10254,601390,79258845,409,869,1116730,1749,39603110,11090,709,14812,109490040
1,10152,523419,74279874,362,829,1166634,2269,37808753,15740,51,14330,102911448
2,9766,489645,72960192,431,817,1164789,2392,37086862,15947,64,15986,101352316
3,9116,492040,72665534,372,761,1175456,2413,36884773,16955,188,17223,101112012
4,9592,537226,74239626,375,555,1235129,1958,37577918,15981,902,16676,103326120
5,2694,153705,63064247,490,53,1078356,152,32338500,563,911,14370,87968332
6,1003,156459,53564748,415,24,980812,50,27397253,278,1051,14355,75792393

In [93]:
print("Ngày cao điểm:")
result = pd.DataFrame({
    "day_max": pivot_counts_day.idxmax(),
    "Value_max": pivot_counts_day.max()
})
result

Ngày cao điểm:

           day_max  Value_max
ServiceID
0               14       7682
1                9     797762
2               10   34967656
3               17        205
4               14        490
5               10     556597
6               14       1297
7               15   18451617
8               15       9813
9               17        217
10              17       5374
11              15   47606850

In [84]:
# Tính phân phối theo giờ
pivot_counts_hour = pd.pivot_table(
    df_hier,
    index="hour",
    columns="ServiceID",
    values="count",  
    aggfunc="sum",   
    fill_value=0
)
pd.pivot_table(
    df_hier,
    index="hour",
    columns="ServiceID",
    values="count",  
    aggfunc="sum",   
    fill_value=0
)

ServiceID,0,1,2,3,4,5,6,7,8,9,10,11
hour,,,,,,,,,,,,
0,130,622,5176869,59,0,121447,0,3114780,7,130,4440,9586239
1,114,261,3359875,65,0,90757,1,2171690,5,142,4380,7766783
2,83,308,2422443,45,0,74164,1,1512496,7,136,4395,6941811
3,68,334,2018578,29,0,63865,4,1148911,12,158,4440,6432578
4,81,189,2174519,45,0,61442,11,1073329,44,139,4410,6622328
5,77,266,3727570,39,0,72567,19,1454426,90,138,4410,8226013
6,140,798,9647700,76,0,103114,45,3399252,372,186,4425,14250878
7,532,83283,18271753,78,95,313938,233,7197738,1672,180,4440,24394386
8,3177,384863,26935999,126,339,352803,868,12514081,5629,197,4427,37201123
9,5332,797762,33353406,143,392,476271,1062,16349199,6227,204,4396,44199745
10,5361,348564,34967656,157,449,556597,992,17699955,6188,175,4421,46230908
11,4796,222213,32812752,162,256,555212,715,16717882,4448,180,4433,43271622
12,1880,30011,27867725,145,41,501395,263,13993163,1378,133,4439,36814370
13,4936,207685,28220402,121,446,490612,941,14752133,6755,170,4451,39198071
14,7682,326637,32665471,154,490,544661,1297,17434026,9651,153,4537,44997502
15,6857,291506,34678710,157,396,548994,1253,18451617,9813,189,4558,47606850
16,5511,213222,33970099,162,396,515520,1121,18331621,9192,165,4549,46426139
17,2941,33287,34650142,205,319,532013,942,18417132,7829,217,5374,46147966
18,1143,3432,30203980,193,183,504108,577,15490601,3870,159,4733,39537766
19,503,2566,28044301,183,74,453782,306,14255001,1631,144,4425,36536910
20,440,2206,24276829,176,24,281089,211,12293881,979,152,4394,31916941
21,318,1865,19391495,146,5,280538,72,9885486,550,151,4410,26021424
22,282,1206,13192631,109,3,242755,27,6727845,146,151,4425,18859194
23,193,798,8002161,79,0,180262,22,4310924,59,127,4440,12765114

In [94]:
print("Giờ cao điểm:")
result = pd.DataFrame({
    "Hour_max": pivot_counts_hour.idxmax(),
    "Value_max": pivot_counts_hour.max()
})

result

Giờ cao điểm:

           Hour_max  Value_max
ServiceID
0                14       7682
1                 9     797762
2                10   34967656
3                17        205
4                14        490
5                10     556597
6                14       1297
7                15   18451617
8                15       9813
9                17        217
10               17       5374
11               15   47606850