# Phân loại có sự cố hay không dựa trên data và dự đoán X tiếng sau đó

In [33]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("clean_feature.csv")
df

,Day,DoWeek,hour,count,passed,period,data,ServiceID
0,2021-12-29,2,17,2974,2974,63.952589,612.081036,2
1,2021-12-29,2,17,4528,4528,63.000000,960.307862,11
2,2021-12-29,2,17,19,19,62.000000,566.315789,5
3,2021-12-29,2,17,1207,1207,63.000000,601.025684,7
4,2021-12-29,2,18,8450,8450,63.942130,611.024024,2
...,...,...,...,...,...,...,...,...
450666,2023-07-24,0,18,1,1,62.000000,624.000000,1
450667,2023-07-24,0,18,108,108,62.000000,1075.972222,5
450668,2023-07-24,0,18,5279,5279,63.000000,599.900170,7
450669,2023-07-24,0,18,2,2,63.000000,1437.500000,0
450670,2023-07-24,0,18,18,18,0.000000,378255.166667,10

In [35]:
df = df.dropna()
df = df.drop_duplicates() 
df

,Day,DoWeek,hour,count,passed,period,data,ServiceID
0,2021-12-29,2,17,2974,2974,63.952589,612.081036,2
1,2021-12-29,2,17,4528,4528,63.000000,960.307862,11
2,2021-12-29,2,17,19,19,62.000000,566.315789,5
3,2021-12-29,2,17,1207,1207,63.000000,601.025684,7
4,2021-12-29,2,18,8450,8450,63.942130,611.024024,2
...,...,...,...,...,...,...,...,...
450666,2023-07-24,0,18,1,1,62.000000,624.000000,1
450667,2023-07-24,0,18,108,108,62.000000,1075.972222,5
450668,2023-07-24,0,18,5279,5279,63.000000,599.900170,7
450669,2023-07-24,0,18,2,2,63.000000,1437.500000,0
450670,2023-07-24,0,18,18,18,0.000000,378255.166667,10

In [36]:
df["datetime"] = pd.to_datetime(df["Day"]) + pd.to_timedelta(df["hour"], unit="h")
df

,Day,DoWeek,hour,count,passed,period,data,ServiceID,datetime
0,2021-12-29,2,17,2974,2974,63.952589,612.081036,2,2021-12-29 17:00:00
1,2021-12-29,2,17,4528,4528,63.000000,960.307862,11,2021-12-29 17:00:00
2,2021-12-29,2,17,19,19,62.000000,566.315789,5,2021-12-29 17:00:00
3,2021-12-29,2,17,1207,1207,63.000000,601.025684,7,2021-12-29 17:00:00
4,2021-12-29,2,18,8450,8450,63.942130,611.024024,2,2021-12-29 18:00:00
...,...,...,...,...,...,...,...,...,...
450666,2023-07-24,0,18,1,1,62.000000,624.000000,1,2023-07-24 18:00:00
450667,2023-07-24,0,18,108,108,62.000000,1075.972222,5,2023-07-24 18:00:00
450668,2023-07-24,0,18,5279,5279,63.000000,599.900170,7,2023-07-24 18:00:00
450669,2023-07-24,0,18,2,2,63.000000,1437.500000,0,2023-07-24 18:00:00
450670,2023-07-24,0,18,18,18,0.000000,378255.166667,10,2023-07-24 18:00:00

In [166]:
def query_interval(df, t_datetime, T):
    start = t_datetime - pd.Timedelta(hours=T)
    return df[(df["datetime"] >= start) & (df["datetime"] <= t_datetime)]

t = pd.to_datetime("2023-07-24 18:00:00")
result = query_interval(df, t, 12)
print(result["ServiceID"].nunique())
result.sort_index()
# result.shape

11

,Day,DoWeek,hour,count,passed,period,data,ServiceID,datetime
107851,2023-07-24,0,6,597,597,63.718593,573.028476,2,2023-07-24 06:00:00
107852,2023-07-24,0,6,921,921,63.000000,836.421281,11,2023-07-24 06:00:00
107853,2023-07-24,0,6,4,4,62.000000,1470.750000,5,2023-07-24 06:00:00
107854,2023-07-24,0,6,234,234,63.000000,599.713675,7,2023-07-24 06:00:00
107855,2023-07-24,0,6,6,6,0.000000,378253.833333,10,2023-07-24 06:00:00
...,...,...,...,...,...,...,...,...,...
450666,2023-07-24,0,18,1,1,62.000000,624.000000,1,2023-07-24 18:00:00
450667,2023-07-24,0,18,108,108,62.000000,1075.972222,5,2023-07-24 18:00:00
450668,2023-07-24,0,18,5279,5279,63.000000,599.900170,7,2023-07-24 18:00:00
450669,2023-07-24,0,18,2,2,63.000000,1437.500000,0,2023-07-24 18:00:00
450670,2023-07-24,0,18,18,18,0.000000,378255.166667,10,2023-07-24 18:00:00

In [167]:

features = result.groupby(["datetime", "ServiceID"]).agg(
    total_calls=("count", "sum"), # a> Tổng số lần gọi
    total_success=("passed", "sum"), # b> Tổng số lần gọi thành công
    mean_exec_time=("period", "mean"), # c> Trị trung bình thời gian thực thi
    mean_data_usage=("data", "mean") # d> Trị trung bình dữ liệu sử dụng
)
matrix = features.unstack(level="ServiceID", fill_value=0)

matrix = matrix.sort_index(axis=1, level=1)
matrix

,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,...,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success
ServiceID,0,0,0,0,1,1,1,1,2,2,...,8,8,10,10,10,10,11,11,11,11
datetime,,,,,,,,,,,,,,,,,,,,,
2023-07-24 06:00:00,0.000000,0.0,0,0,629.000000,62.0,2,2,596.514933,63.836170,...,0,0,378252.134370,0.0,120,120,862.520055,62.999846,26774,26774
2023-07-24 07:00:00,0.000000,0.0,0,0,469.087013,62.0,326,326,613.965957,63.920684,...,1,1,378251.883333,0.0,120,120,914.492521,63.000000,45953,45953
2023-07-24 08:00:00,1927.900000,63.0,6,6,463.048399,62.0,821,821,634.487507,63.999446,...,6,6,378251.439543,0.0,120,120,948.688393,62.999970,74890,74890
2023-07-24 09:00:00,1666.261905,63.0,20,20,537.909542,62.0,688,688,641.387701,63.962452,...,9,9,378251.550925,0.0,120,120,942.384330,62.999962,91278,91278
2023-07-24 10:00:00,1967.000000,63.0,4,4,420.695592,62.0,1795,1795,649.491534,63.964238,...,8,8,378251.435662,0.0,120,120,955.663626,63.000000,96054,96054
2023-07-24 11:00:00,1633.047619,63.0,16,16,586.995977,62.0,183,183,636.274893,63.960298,...,4,4,378251.365858,0.0,120,120,939.045217,62.999940,88516,88516
2023-07-24 12:00:00,1581.800000,63.0,9,9,522.848958,62.0,27,27,633.857113,63.959578,...,0,0,378251.380407,0.0,120,120,926.747799,63.000000,73749,73749
2023-07-24 13:00:00,1331.633333,63.0,8,8,568.619765,62.0,459,459,637.955065,63.975010,...,22,22,378251.491118,0.0,120,120,924.804042,63.000000,81435,81435
2023-07-24 14:00:00,1604.770833,63.0,25,25,561.074241,62.0,701,701,660.691365,63.978534,...,24,24,378251.423480,0.0,120,120,945.996360,62.999987,94058,94058
2023-07-24 15:00:00,1640.695238,63.0,24,24,559.099741,62.0,668,668,652.613439,63.973376,...,26,26,378251.791223,0.0,120,120,951.279353,63.000000,100052,100052
2023-07-24 16:00:00,1408.761905,63.0,18,18,587.271777,62.0,501,501,640.012532,63.968693,...,29,29,378251.559443,0.0,115,115,943.866314,62.999972,95662,95662
2023-07-24 17:00:00,2202.000000,63.0,1,1,605.101780,62.0,68,68,641.604435,63.967950,...,23,23,378251.973496,0.0,185,185,930.734457,62.999968,131038,131038
2023-07-24 18:00:00,1583.500000,63.0,4,4,625.552083,62.0,21,21,634.672423,63.959107,...,6,6,378251.912747,0.0,192,192,916.993728,62.999952,124272,124272

In [168]:
# Label dữ liệu
same_all = (matrix["total_calls"] == matrix["total_success"]).all(axis=1)
matrix["label"] = same_all.astype(int)
print(matrix["label"].value_counts())
matrix

1    9
0    4
Name: label, dtype: int64

,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,...,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,label
ServiceID,0,0,0,0,1,1,1,1,2,2,...,8,10,10,10,10,11,11,11,11,
datetime,,,,,,,,,,,,,,,,,,,,,
2023-07-24 06:00:00,0.000000,0.0,0,0,629.000000,62.0,2,2,596.514933,63.836170,...,0,378252.134370,0.0,120,120,862.520055,62.999846,26774,26774,1
2023-07-24 07:00:00,0.000000,0.0,0,0,469.087013,62.0,326,326,613.965957,63.920684,...,1,378251.883333,0.0,120,120,914.492521,63.000000,45953,45953,1
2023-07-24 08:00:00,1927.900000,63.0,6,6,463.048399,62.0,821,821,634.487507,63.999446,...,6,378251.439543,0.0,120,120,948.688393,62.999970,74890,74890,1
2023-07-24 09:00:00,1666.261905,63.0,20,20,537.909542,62.0,688,688,641.387701,63.962452,...,9,378251.550925,0.0,120,120,942.384330,62.999962,91278,91278,1
2023-07-24 10:00:00,1967.000000,63.0,4,4,420.695592,62.0,1795,1795,649.491534,63.964238,...,8,378251.435662,0.0,120,120,955.663626,63.000000,96054,96054,1
2023-07-24 11:00:00,1633.047619,63.0,16,16,586.995977,62.0,183,183,636.274893,63.960298,...,4,378251.365858,0.0,120,120,939.045217,62.999940,88516,88516,1
2023-07-24 12:00:00,1581.800000,63.0,9,9,522.848958,62.0,27,27,633.857113,63.959578,...,0,378251.380407,0.0,120,120,926.747799,63.000000,73749,73749,0
2023-07-24 13:00:00,1331.633333,63.0,8,8,568.619765,62.0,459,459,637.955065,63.975010,...,22,378251.491118,0.0,120,120,924.804042,63.000000,81435,81435,1
2023-07-24 14:00:00,1604.770833,63.0,25,25,561.074241,62.0,701,701,660.691365,63.978534,...,24,378251.423480,0.0,120,120,945.996360,62.999987,94058,94058,1
2023-07-24 15:00:00,1640.695238,63.0,24,24,559.099741,62.0,668,668,652.613439,63.973376,...,26,378251.791223,0.0,120,120,951.279353,63.000000,100052,100052,0
2023-07-24 16:00:00,1408.761905,63.0,18,18,587.271777,62.0,501,501,640.012532,63.968693,...,29,378251.559443,0.0,115,115,943.866314,62.999972,95662,95662,1
2023-07-24 17:00:00,2202.000000,63.0,1,1,605.101780,62.0,68,68,641.604435,63.967950,...,23,378251.973496,0.0,185,185,930.734457,62.999968,131038,131038,0
2023-07-24 18:00:00,1583.500000,63.0,4,4,625.552083,62.0,21,21,634.672423,63.959107,...,6,378251.912747,0.0,192,192,916.993728,62.999952,124272,124272,0

In [169]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\anaconda3\envs\ute\lib\site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\asus\anaconda3\envs\ute\lib\site-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in c:\users\asus\anaconda3\envs\ute\lib\site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\asus\anaconda3\envs\ute\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\anaconda3\envs\ute\lib\site-packages (from scikit-learn) (3.1.0)

In [ ]:
# chia train , test , validation
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
X = matrix.drop(columns=["label"])
y = matrix["label"]
print("Features shape:", X.shape)
print("Labels shape:", y.shape)

n_samples = len(X)
test_size = 0.2
val_size = 0.2 

test_split = int(n_samples * (1 - test_size))
X_train_full, X_test = X.iloc[:test_split], X.iloc[test_split:]
y_train_full, y_test = y.iloc[:test_split], y.iloc[test_split:]

X_train, X_val, y_train, y_val = train_test_split(
    X_train_full, y_train_full, test_size=0.2, random_state=42, shuffle=True
)


print("Train:", X_train.shape, "Validation:", X_val.shape, "Test:", X_test.shape)

Features shape: (13, 44)
Labels shape: (13,)
Train: (8, 44) Validation: (2, 44) Test: (3, 44)

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

# Support Vector Classification.

In [187]:
print("Unique classes:", np.unique(y_train))
print("Counts:", np.bincount(y_train))

Unique classes: [0 1]
Counts: [2 6]

In [188]:

from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

pipe = Pipeline([
    ("scaler", StandardScaler()),
    ("svm", SVC())
])

param_grid = {
    'svm__C': [0.1, 1, 10],
    'svm__gamma': [0.01, 0.1, 1],
    'svm__kernel': ['rbf', 'linear']
}

grid = GridSearchCV(pipe, param_grid, cv=2) #cross validation chia nhỏ
grid.fit(X_train, y_train)

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

GridSearchCV(cv=2,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('svm', SVC())]),
             param_grid={'svm__C': [0.1, 1, 10], 'svm__gamma': [0.01, 0.1, 1],
                         'svm__kernel': ['rbf', 'linear']})

In [189]:
print("Best params:", grid.best_params_)
print("Best score:", grid.best_score_)

Best params: {'svm__C': 0.1, 'svm__gamma': 0.01, 'svm__kernel': 'rbf'}
Best score: 0.75

In [190]:
# best_pipe = Pipeline([
#     ("scaler", StandardScaler()),
#     ("svm", SVC(C=0.1, gamma=0.01, kernel="rbf", class_weight='balanced'))  
# ])
best_pipe = grid.best_estimator_

best_pipe.fit(X_train, y_train)

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

Pipeline(steps=[('scaler', StandardScaler()), ('svm', SVC(C=0.1, gamma=0.01))])

In [191]:
test_pred = best_pipe.predict(X_test)
print("Test score:", best_pipe.score(X_test, y_test))
print("Thực tế:", y_test.iloc[:5].values)
print("Dự đoán:", test_pred[:5])

Test score: 0.3333333333333333
Thực tế: [1 0 0]
Dự đoán: [1 1 1]

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

## Dự báo t giờ tiếp theo có lỗi hay không: có lỗi (label=0) hay không (label=1).

In [192]:
isinstance(matrix.columns, pd.MultiIndex)
df_model = matrix.stack(level="ServiceID").reset_index().rename(columns={'level_1':'ServiceID'})
df_model['label'] = (df_model['total_calls'] == df_model['total_success']).astype(int)

t_last = df_model["datetime"].max()
print(t_last)
df_model

2023-07-24 18:00:00

,datetime,ServiceID,label,mean_data_usage,mean_exec_time,total_calls,total_success
0,2023-07-24 06:00:00,0,1,0.000000,0.000000,0.0,0.0
1,2023-07-24 06:00:00,1,1,629.000000,62.000000,2.0,2.0
2,2023-07-24 06:00:00,2,1,596.514933,63.836170,19269.0,19269.0
3,2023-07-24 06:00:00,3,1,0.000000,0.000000,0.0,0.0
4,2023-07-24 06:00:00,4,1,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...
151,2023-07-24 18:00:00,7,1,599.875439,63.000000,55575.0,55575.0
152,2023-07-24 18:00:00,8,1,1153.555556,62.000000,6.0,6.0
153,2023-07-24 18:00:00,10,1,378251.912747,0.000000,192.0,192.0
154,2023-07-24 18:00:00,11,1,916.993728,62.999952,124272.0,124272.0
155,2023-07-24 18:00:00,,0,NaN,NaN,NaN,NaN

In [193]:
future_times = [t_last + pd.Timedelta(hours=1), t_last + pd.Timedelta(hours=2)]
print(future_times)

[Timestamp('2023-07-24 19:00:00'), Timestamp('2023-07-24 20:00:00')]

In [201]:
def build_future_features(df, sid, t_last, horizon_h=1, max_lag=3):
    df_sid = df[df["ServiceID"] == sid].copy()
    if df_sid.empty:
        return None

    # Lấy dữ liệu gần nhất
    last_row = df_sid[df_sid["datetime"] == t_last]
    if last_row.empty:
        return None

    future = {
        "ServiceID": sid,
        "hour": (t_last + pd.Timedelta(hours=horizon_h)).hour,
        "DoWeek": (t_last + pd.Timedelta(hours=horizon_h)).dayofweek,
    }

    # Ví dụ tạo thêm lag features
    for lag in range(1, max_lag+1):
        past_time = t_last - pd.Timedelta(hours=lag)
        row = df_sid[df_sid["datetime"] == past_time]
        if not row.empty:
            future[f"mean_data_usage_{lag}"] = row["mean_data_usage"].values[0]
            future[f"mean_exec_time{lag}"] = row["mean_exec_time"].values[0]
            future[f"total_calls{lag}"] = row["total_calls"].values[0]
            future[f"total_success"] = row["total_success"].values[0]

    return future

In [202]:
service_ids = df_model["ServiceID"].unique()
future_rows = []
for sid in service_ids:
    for h in [1,2]:
        r = build_future_features(df_model, sid, t_last, horizon_h=h, max_lag=3)
        if r is not None:
            r["forecast_time"] = t_last + pd.Timedelta(hours=h)
            future_rows.append(r)

X_future = pd.DataFrame(future_rows).dropna()
X_future

,ServiceID,hour,DoWeek,mean_data_usage_1,mean_exec_time1,total_calls1,total_success,mean_data_usage_2,mean_exec_time2,total_calls2,mean_data_usage_3,mean_exec_time3,total_calls3,forecast_time
0,0,19,0,2202.000000,63.000000,1.0,24.0,1408.761905,63.000000,18.0,1640.695238,63.000000,24.0,2023-07-24 19:00:00
1,0,20,0,2202.000000,63.000000,1.0,24.0,1408.761905,63.000000,18.0,1640.695238,63.000000,24.0,2023-07-24 20:00:00
2,1,19,0,605.101780,62.000000,68.0,668.0,587.271777,62.000000,501.0,559.099741,62.000000,668.0,2023-07-24 19:00:00
3,1,20,0,605.101780,62.000000,68.0,668.0,587.271777,62.000000,501.0,559.099741,62.000000,668.0,2023-07-24 20:00:00
4,2,19,0,641.604435,63.967950,101415.0,75688.0,640.012532,63.968693,72824.0,652.613439,63.973376,75688.0,2023-07-24 19:00:00
5,2,20,0,641.604435,63.967950,101415.0,75688.0,640.012532,63.968693,72824.0,652.613439,63.973376,75688.0,2023-07-24 20:00:00
6,3,19,0,1468.000000,60.000000,1.0,0.0,0.000000,0.000000,0.0,1468.000000,60.000000,1.0,2023-07-24 19:00:00
7,3,20,0,1468.000000,60.000000,1.0,0.0,0.000000,0.000000,0.0,1468.000000,60.000000,1.0,2023-07-24 20:00:00
8,4,19,0,52589.476190,61.000000,13.0,9.0,38067.833333,61.000000,4.0,25145.833333,61.000000,9.0,2023-07-24 19:00:00
9,4,20,0,52589.476190,61.000000,13.0,9.0,38067.833333,61.000000,4.0,25145.833333,61.000000,9.0,2023-07-24 20:00:00
10,5,19,0,2178.339196,62.000000,1516.0,917.0,4253.633725,62.000000,847.0,3797.377719,62.000000,917.0,2023-07-24 19:00:00
11,5,20,0,2178.339196,62.000000,1516.0,917.0,4253.633725,62.000000,847.0,3797.377719,62.000000,917.0,2023-07-24 20:00:00
12,6,19,0,0.000000,0.000000,0.0,1.0,428.000000,62.000000,3.0,428.000000,62.000000,1.0,2023-07-24 19:00:00
13,6,20,0,0.000000,0.000000,0.0,1.0,428.000000,62.000000,3.0,428.000000,62.000000,1.0,2023-07-24 20:00:00
14,7,19,0,600.429789,63.000000,57288.0,42497.0,603.439525,63.000000,42284.0,604.021232,63.000000,42497.0,2023-07-24 19:00:00
15,7,20,0,600.429789,63.000000,57288.0,42497.0,603.439525,63.000000,42284.0,604.021232,63.000000,42497.0,2023-07-24 20:00:00
16,8,19,0,652.145833,62.000000,23.0,26.0,464.269048,62.000000,29.0,750.142857,62.000000,26.0,2023-07-24 19:00:00
17,8,20,0,652.145833,62.000000,23.0,26.0,464.269048,62.000000,29.0,750.142857,62.000000,26.0,2023-07-24 20:00:00
18,10,19,0,378251.973496,0.000000,185.0,120.0,378251.559443,0.000000,115.0,378251.791223,0.000000,120.0,2023-07-24 19:00:00
19,10,20,0,378251.973496,0.000000,185.0,120.0,378251.559443,0.000000,115.0,378251.791223,0.000000,120.0,2023-07-24 20:00:00
20,11,19,0,930.734457,62.999968,131038.0,100052.0,943.866314,62.999972,95662.0,951.279353,63.000000,100052.0,2023-07-24 19:00:00
21,11,20,0,930.734457,62.999968,131038.0,100052.0,943.866314,62.999972,95662.0,951.279353,63.000000,100052.0,2023-07-24 20:00:00

In [206]:
feature_cols = [col for col in X_future.columns if col not in ["ServiceID", "forecast_time"]]
feature_cols

['hour',
 'DoWeek',
 'mean_data_usage_1',
 'mean_exec_time1',
 'total_calls1',
 'total_success',
 'mean_data_usage_2',
 'mean_exec_time2',
 'total_calls2',
 'mean_data_usage_3',
 'mean_exec_time3',
 'total_calls3']

In [207]:
y_future_pred = best_pipe.predict(X_future[feature_cols])
y_future_proba = best_pipe.predict_proba(X_future[feature_cols])

X_future["pred_label"] = y_future_pred
X_future["proba_error"] = y_future_proba[:,0]
X_future["proba_ok"] = y_future_proba[:,1]

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\base.py:444: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

ValueError: X has 12 features, but StandardScaler is expecting 44 features as input.