## Hoàng Ngọc Dung
MSSV: 23139006

In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv("clean_feature.csv")
df = df.dropna().drop_duplicates() # Xoá các dòng bị thiếu và trùng lặp
df

,Day,DoWeek,hour,count,passed,period,data,ServiceID
0,2021-12-29,2,17,2974,2974,63.952589,612.081036,2
1,2021-12-29,2,17,4528,4528,63.000000,960.307862,11
2,2021-12-29,2,17,19,19,62.000000,566.315789,5
3,2021-12-29,2,17,1207,1207,63.000000,601.025684,7
4,2021-12-29,2,18,8450,8450,63.942130,611.024024,2
...,...,...,...,...,...,...,...,...
450666,2023-07-24,0,18,1,1,62.000000,624.000000,1
450667,2023-07-24,0,18,108,108,62.000000,1075.972222,5
450668,2023-07-24,0,18,5279,5279,63.000000,599.900170,7
450669,2023-07-24,0,18,2,2,63.000000,1437.500000,0
450670,2023-07-24,0,18,18,18,0.000000,378255.166667,10

In [23]:
# Cho thời điểm t (tính theo đơn vị giờ) , hãy querry dataframe nằm trong khoảng thời gian t-T. Trong đó T là giá trị biết trước tính bằng giờ
import pandas as pd

df["datetime"] = pd.to_datetime(df["Day"]) + pd.to_timedelta(df["hour"], unit="h")

def query_interval(df, t_datetime, T):
    start = t_datetime - pd.Timedelta(hours=T)
    return df[(df["datetime"] >= start) & (df["datetime"] <= t_datetime)]

t = pd.to_datetime("2021-12-30 3:00")
result = query_interval(df, t, 5)
result.sort_index()
# print(result[["Day", "hour", "datetime"]])

,Day,DoWeek,hour,count,passed,period,data,ServiceID,datetime
24,2021-12-29,2,22,1020,1020,63.885294,606.600980,2,2021-12-29 22:00:00
25,2021-12-29,2,22,1941,1941,63.000000,926.139619,11,2021-12-29 22:00:00
26,2021-12-29,2,22,19,19,62.000000,624.368421,5,2021-12-29 22:00:00
27,2021-12-29,2,22,414,414,63.000000,600.282609,7,2021-12-29 22:00:00
28,2021-12-29,2,22,2672,2672,63.869760,592.565868,2,2021-12-29 22:00:00
...,...,...,...,...,...,...,...,...,...
338086,2021-12-30,3,2,403,403,63.000000,599.908189,7,2021-12-30 02:00:00
338088,2021-12-30,3,3,535,535,63.142056,444.745794,2,2021-12-30 03:00:00
338089,2021-12-30,3,3,2423,2423,63.000000,778.037969,11,2021-12-30 03:00:00
338090,2021-12-30,3,3,19,19,62.000000,13350.052632,5,2021-12-30 03:00:00
338091,2021-12-30,3,3,273,273,63.000000,599.633700,7,2021-12-30 03:00:00

In [24]:
# Mô tả dataframe
print("Kích thước DataFrame:", df.shape)

# Thông tin tổng quan
print("\nThông tin DataFrame:")
print(df.info())

Kích thước DataFrame: (443011, 9)

Thông tin DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 443011 entries, 0 to 450670
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Day        443011 non-null  object
 1   DoWeek     443011 non-null  int64
 2   hour       443011 non-null  int64
 3   count      443011 non-null  int64
 4   passed     443011 non-null  int64
 5   period     443011 non-null  float64
 6   data       443011 non-null  float64
 7   ServiceID  443011 non-null  int64
 8   datetime   443011 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 33.8+ MB
None

In [25]:
# Dùng groupby để nhóm các dữ liệu của cùng một dịch vụ thành từng nhóm.
grouped = df.groupby("ServiceID")
grouped.describe()

            DoWeek                                                  hour  \
             count      mean  min  25%  50%  75%  max       std    count
ServiceID
0          22583.0  2.343621  0.0  1.0  2.0  4.0  6.0  1.709501  22583.0
1          41256.0  2.575601  0.0  1.0  2.0  4.0  6.0  1.850046  41256.0
2          84897.0  2.933955  0.0  1.0  3.0  5.0  6.0  1.987548  84897.0
3           2669.0  3.080929  0.0  1.0  3.0  5.0  6.0  2.013310   2669.0
4           2262.0  1.969054  0.0  1.0  2.0  3.0  6.0  1.494770   2262.0
5          84206.0  2.933473  0.0  1.0  3.0  5.0  6.0  1.988111  84206.0
6           6877.0  2.106296  0.0  1.0  2.0  3.0  6.0  1.424424   6877.0
7          84862.0  2.933209  0.0  1.0  3.0  5.0  6.0  1.987183  84862.0
8          21856.0  2.126007  0.0  1.0  2.0  3.0  6.0  1.446506  21856.0
9           1025.0  3.481951  0.0  2.0  4.0  5.0  6.0  2.101877   1025.0
10          5624.0  2.934211  0.0  1.0  3.0  5.0  6.0  1.940684   5624.0
11         84894.0  2.934130  0.0  1.0  3.0  5.0  6.0  1.987473  84894.0

                      ...           data               datetime  \
                mean  ...            max           std    count
ServiceID             ...
0          12.845149  ...    5628.000000    531.550559    22583
1          12.374612  ...    1468.000000    114.354994    41256
2          12.198900  ...    2001.694444     54.164231    84897
3          13.694642  ...    1468.000000    277.906331     2669
4          13.071176  ...  330445.000000  30167.719996     2262
5          12.201874  ...  284798.000000   7827.016872    84206
6          13.244583  ...    1109.000000    151.401093     6877
7          12.197968  ...     734.334975      3.081089    84862
8          13.374542  ...   19922.000000    671.093191    21856
9          12.412683  ...    1468.000000     73.487720     1025
10         12.318101  ...  378361.366667   2821.768411     5624
11         12.199201  ...    3187.127660     70.010598    84894

                                                               \
                                    mean                  min
ServiceID
0          2022-10-29 21:20:03.719611904  2021-12-29 21:00:00
1          2022-11-21 23:58:31.954624768  2021-12-30 07:00:00
2          2022-10-25 14:27:19.351213824  2021-12-29 17:00:00
3          2022-10-17 17:15:52.266766592  2021-12-29 21:00:00
4          2023-06-26 03:39:36.127321088  2023-04-08 09:00:00
5          2022-10-25 17:09:17.532717312  2021-12-29 17:00:00
6          2022-12-27 05:56:12.284426240  2022-03-07 08:00:00
7          2022-10-25 13:33:32.915085568  2021-12-29 17:00:00
8          2022-12-08 05:11:21.588579840  2022-03-05 09:00:00
9          2023-06-19 11:34:11.121951488  2023-05-17 22:00:00
10         2023-07-17 02:26:35.803698432  2023-06-28 13:00:00
11         2022-10-25 14:21:33.674464768  2021-12-29 17:00:00

                                                                          \
                           25%                  50%                  75%
ServiceID
0          2022-06-14 05:00:00  2022-10-29 09:00:00  2023-03-27 13:30:00
1          2022-06-30 10:45:00  2022-12-06 17:30:00  2023-04-27 07:00:00
2          2022-06-04 14:00:00  2022-10-30 14:00:00  2023-03-21 03:00:00
3          2022-05-22 07:00:00  2022-10-16 12:00:00  2023-03-18 16:00:00
4          2023-06-18 11:45:00  2023-07-05 10:30:00  2023-07-20 09:00:00
5          2022-06-04 16:00:00  2022-10-31 00:00:00  2023-03-21 09:00:00
6          2022-09-15 11:00:00  2023-01-18 13:00:00  2023-04-17 19:00:00
7          2022-06-04 14:00:00  2022-10-30 13:00:00  2023-03-20 23:00:00
8          2022-07-21 10:00:00  2022-12-21 13:00:00  2023-04-19 17:00:00
9          2023-06-16 17:00:00  2023-06-18 14:00:00  2023-06-25 13:00:00
10         2023-07-07 19:00:00  2023-07-17 03:00:00  2023-07-26 09:00:00
11         2022-06-04 14:00:00  2022-10-30 14:00:00  2023-03-21 02:45:00


                           max  std
ServiceID
0          2023-08-04 18:00:00  NaN
1          2023-08-04 18:00:00  NaN
2          2023-08-04 18:00:00  NaN
3          2023-08-04 17:00:00  NaN
4          2023-08-04 18:00:00  NaN
5          2023-08-04 18:00:00  NaN
6          2023-08-04 17:00:00  NaN
7          2023-08-04 18:00:00  NaN
8          2023-08-04 18:00:00  NaN
9          2023-06-30 13:00:00  NaN
10         2023-08-04 18:00:00  NaN
11         2023-08-04 18:00:00  NaN

[12 rows x 56 columns]

In [26]:
# Rút trích các đặc trưng
agg_df = df.groupby("ServiceID").agg(
    total_calls=("count", "sum"),          # a> Tổng số lần gọi
    total_success=("passed", "sum"),       # b> Tổng số lần gọi thành công
    mean_exec_time=("period", "mean"),     # c> Trị trung bình thời gian thực thi
    mean_data_usage=("data", "mean")       # d> Trị trung bình dữ liệu sử dụng
).reset_index()

agg_df

    ServiceID  total_calls  total_success  mean_exec_time  mean_data_usage
0           0        52577          52385       62.999956      1513.167880
1           1      2953884        2939420       61.999754       486.707854
2           2    490033066      490033066       63.847479       612.283415
3           3         2854            145       60.146684      1404.681341
4           4         3908           3071       45.898320     27313.261634
5           5      7917906        7917905       61.999985      4521.135874
6           6        10983          10902       62.000000       539.455457
7           7    248697169      248618247       62.999970       601.359937
8           8        76554          75392       62.000000       622.113856
9           9         3876           3872       62.992683       724.925861
10         10       107752         107751        0.000000    374693.984948
11         11    681952661      681934129       62.998523       915.142904

In [27]:
# Gọi M là số thời điểm (t) có thể lấy được trong bộ dữ liệu, và N là số dịch vụ, hãy thành lập một ma trận kích thước M*(4*N) chứa các đặc trưng của câu 5 cho mỗi dịch vụ

import pandas as pd
def query_interval(df, t_datetime, T):
    start = t_datetime - pd.Timedelta(hours=T)
    return df[(df["datetime"] >= start) & (df["datetime"] <= t_datetime)]

t = pd.to_datetime("2021-12-30 3:00")
df_q = query_interval(df, t, 5)


features = df_q.groupby(["datetime", "ServiceID"]).agg(
    total_calls=("count", "sum"), # a> Tổng số lần gọi
    total_success=("passed", "sum"), # b> Tổng số lần gọi thành công
    mean_exec_time=("period", "mean"), # c> Trị trung bình thời gian thực thi
    mean_data_usage=("data", "mean") # d> Trị trung bình dữ liệu sử dụng
)

matrix = features.unstack(level="ServiceID", fill_value=0)

matrix = matrix.sort_index(axis=1, level=1)
matrix

,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,...,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success
ServiceID,0,0,0,0,2,2,2,2,3,3,...,5,5,7,7,7,7,11,11,11,11
datetime,,,,,,,,,,,,,,,,,,,,,
2021-12-29 22:00:00,0.0,0.0,0,0,594.380010,63.883258,14844,14844,0.0,0.0,...,401,401,600.288130,63.0,5827,5827,909.559520,63.0,28277,28277
2021-12-29 23:00:00,2240.0,63.0,3,3,573.179802,63.774028,8552,8552,0.0,0.0,...,244,244,600.184851,63.0,3430,3430,901.305124,63.0,20238,20238
2021-12-30 00:00:00,1592.5,63.0,6,6,548.221609,63.636580,5351,5351,0.0,0.0,...,223,223,599.959238,63.0,2430,2430,835.169787,63.0,15091,15091
2021-12-30 01:00:00,836.0,63.0,1,1,511.468961,63.452251,3550,3550,0.0,0.0,...,167,167,600.061147,63.0,1821,1821,804.345189,63.0,12788,12788
2021-12-30 02:00:00,0.0,0.0,0,0,470.125083,63.291443,2735,2735,1468.0,60.0,...,121,121,600.053306,63.0,1452,1452,782.170894,63.0,12950,12950
2021-12-30 03:00:00,0.0,0.0,0,0,442.974539,63.128276,2167,2167,0.0,0.0,...,66,66,599.623952,63.0,1042,1042,776.658161,63.0,9721,9721

# Phân loại có sự cố hay không dựa trên data và dự đóan

In [32]:
matrix.to_csv("feature.csv", index=False, encoding="utf-8-sig")
print(matrix.shape)
# Label dữ liệu
same_all = (matrix["total_calls"] == matrix["total_success"]).all(axis=1)
matrix["label"] = same_all.astype(int)
print(matrix["label"].value_counts())
matrix

(6, 25)
label
1    5
0    1
Name: count, dtype: int64

,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,...,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,mean_data_usage,mean_exec_time,total_calls,total_success,label
ServiceID,0,0,0,0,2,2,2,2,3,3,...,5,7,7,7,7,11,11,11,11,
datetime,,,,,,,,,,,,,,,,,,,,,
2021-12-29 22:00:00,0.0,0.0,0,0,594.380010,63.883258,14844,14844,0.0,0.0,...,401,600.288130,63.0,5827,5827,909.559520,63.0,28277,28277,1
2021-12-29 23:00:00,2240.0,63.0,3,3,573.179802,63.774028,8552,8552,0.0,0.0,...,244,600.184851,63.0,3430,3430,901.305124,63.0,20238,20238,1
2021-12-30 00:00:00,1592.5,63.0,6,6,548.221609,63.636580,5351,5351,0.0,0.0,...,223,599.959238,63.0,2430,2430,835.169787,63.0,15091,15091,1
2021-12-30 01:00:00,836.0,63.0,1,1,511.468961,63.452251,3550,3550,0.0,0.0,...,167,600.061147,63.0,1821,1821,804.345189,63.0,12788,12788,1
2021-12-30 02:00:00,0.0,0.0,0,0,470.125083,63.291443,2735,2735,1468.0,60.0,...,121,600.053306,63.0,1452,1452,782.170894,63.0,12950,12950,0
2021-12-30 03:00:00,0.0,0.0,0,0,442.974539,63.128276,2167,2167,0.0,0.0,...,66,599.623952,63.0,1042,1042,776.658161,63.0,9721,9721,1

In [35]:
# chia train , test , validation
from sklearn.model_selection import train_test_split

X = matrix.drop(columns=["label"])
y = matrix["label"]
print("Features shape:", X.shape)
print("Labels shape:", y.shape)

n_samples = len(X)
test_size = 0.2
val_size = 0.2 

test_split = int(n_samples * (1 - test_size))
X_train_full, X_test = X.iloc[:test_split], X.iloc[test_split:]
y_train_full, y_test = y.iloc[:test_split], y.iloc[test_split:]

X_train, X_val, y_train, y_val = train_test_split(
    X_train_full, y_train_full, test_size=0.2, random_state=42, shuffle=True
)
print("Train:", X_train.shape, "Validation:", X_val.shape, "Test:", X_test.shape)

Features shape: (6, 24)
Labels shape: (6,)
Train: (3, 24) Validation: (1, 24) Test: (2, 24)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_19260\2040516329.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  X = matrix.drop(columns=["label"])

In [ ]:
# Huấn luyện mô hình phân loại
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

logreg_pipe = Pipeline([
    ("scaler", StandardScaler()),
    ("logreg", LogisticRegression(class_weight='balanced', max_iter=1000))
])

logreg_pipe.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: np.int64(1)

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

def query_interval(df, t_datetime, T):
    start = t_datetime - pd.Timedelta(hours=T)
    return df[(df["datetime"] >= start) & (df["datetime"] <= t_datetime)]

def label(matrix):
    same_all = (matrix["total_calls"] == matrix["total_success"]).all(axis=1)  # Adjust the condition here
    matrix["label"] = same_all.astype(int)
    print(matrix["label"].value_counts())
    matrix.to_csv("feature.csv", index=False)  # Save the result to a CSV file
    return matrix

# Hàm chia dữ liệu thành train, test, validation
def Split_data(df):
    X = df.drop(columns=["label"])  
    y = df["label"]  # Nhãn
    print("Features shape:", X.shape)
    print("Labels shape:", y.shape)

    n_samples = len(X)
    test_size = 0.2

    test_split = int(n_samples * (1 - test_size))
    X_train_full, X_test = X.iloc[:test_split], X.iloc[test_split:]
    y_train_full, y_test = y.iloc[:test_split], y.iloc[test_split:]

    # Chia tập train thành train và validation
    X_train, X_val, y_train, y_val = train_test_split(
        X_train_full, y_train_full, test_size=0.2, random_state=42, shuffle=True
    )
    print("Train:", X_train.shape, "Validation:", X_val.shape, "Test:", X_test.shape)
    return X_train, X_val, X_test, y_train, y_val, y_test

if __name__ == "__main__":
    df = pd.read_csv("clean_feature.csv")
    df = df.dropna()  # Loại bỏ các dòng có giá trị thiếu
    df = df.drop_duplicates()  # Loại bỏ các dòng trùng lặp
    
    df["datetime"] = pd.to_datetime(df["Day"]) + pd.to_timedelta(df["hour"], unit="h")  # Tạo cột datetime
    #query
    t = pd.to_datetime("2023-07-27 18:00:00")
    result = query_interval(df, t, 12)
    result = result.sort_index()
    print(result.shape)
    #groupby
    features = result.groupby(["datetime", "ServiceID"]).agg(
        total_calls=("count", "sum"), # a> Tổng số lần gọi
        total_success=("passed", "sum"), # b> Tổng số lần gọi thành công
        mean_exec_time=("period", "mean"), # c> Trị trung bình thời gian thực thi
        mean_data_usage=("data", "mean") # d> Trị trung bình dữ liệu sử dụng
    )
    matrix = features.unstack(level="ServiceID", fill_value=0)
    matrix = matrix.sort_index(axis=1, level=1)
    matrix.to_csv("feature.csv", index=False)
    matrix = label(matrix)
    X_train, X_val, X_test, y_train, y_val, y_test = Split_data(matrix)
    print("Matrix shape:", matrix.shape)

(693, 9)
1    9
0    4
Name: label, dtype: int64
Features shape: (13, 44)
Labels shape: (13,)
Train: (8, 44) Validation: (2, 44) Test: (3, 44)
Matrix shape: (13, 45)

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\pandas\core\generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:

from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

print("Unique classes:", np.unique(y_train))
print("Counts:", np.bincount(y_train))

pipe = Pipeline([
    ("scaler", StandardScaler()),
    ("svm", SVC())
])

param_grid = {
    'svm__C': [0.1, 1, 10],
    'svm__gamma': [0.01, 0.1, 1],
    'svm__kernel': ['rbf', 'linear']
}

grid = GridSearchCV(pipe, param_grid, cv=2) #cross validation chia nhỏ
grid.fit(X_train, y_train)

print("Best params:", grid.best_params_)
print("Best score:", grid.best_score_)
print(grid.best_estimator_)

best_pipe = grid.best_estimator_

best_pipe.fit(X_train, y_train)

#test
y_pred = best_pipe.predict(X_test)
print("Test score:", best_pipe.score(X_test, y_test))

Unique classes: [0 1]
Counts: [2 6]

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

Best params: {'svm__C': 0.1, 'svm__gamma': 0.01, 'svm__kernel': 'rbf'}
Best score: 0.75
Pipeline(steps=[('scaler', StandardScaler()), ('svm', SVC(C=0.1, gamma=0.01))])
Test score: 0.3333333333333333

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,
c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
def make_features(df_raw: pd.DataFrame) -> pd.DataFrame:
    feats = df_raw.groupby(["datetime", "ServiceID"]).agg(
        total_calls=("count", "sum"),          # a) tổng số lần gọi
        total_success=("passed", "sum"),       # b) tổng gọi thành công
        mean_exec_time=("period", "mean"),     # c) mean thời gian thực thi
        mean_data_usage=("data", "mean")       # d) mean dữ liệu sử dụng
    )

    feats["success_rate"] = np.where(
        feats["total_calls"] > 0,
        feats["total_success"] / feats["total_calls"], 0.0
    )
    feats["fail_calls"] = feats["total_calls"] - feats["total_success"]
    wide = feats.unstack(level="ServiceID", fill_value=0)

    # Sắp cột cho ổn định
    wide = wide.sort_index(axis=1, level=0)
    wide = wide.sort_index(axis=0)  # theo thời gian
    return wide



# Dự đoán t giờ tiếp theo
time_predict = 2
t_last = result["datetime"].max()
print(t_last)
df_new = query_interval(df, t_last,time_predict)
print(df_new.shape)
X_future_full = make_features(df_new)
X_future = X_future_full.drop(columns=["label"], errors='ignore')  # Loại bỏ cột label nếu có
print("Future features shape:", X_future.shape)
train_cols = X_train.columns
for col in train_cols:
    if col not in X_future_full.columns:
        X_future_full[col] = 0
X_future = X_future_full[train_cols].copy()
y_future_pred = best_pipe.predict(X_future)
y_future_proba = None
try:
    y_future_proba = best_pipe.predict_proba(X_future).max(axis=1)
except Exception:
    pass  
pred_df = pd.DataFrame({
        "datetime": X_future.index,         
        "y_pred": y_future_pred
    }).set_index("datetime")

if y_future_proba is not None:
    pred_df["confidence"] = y_future_proba

print("=== Dự đoán t giờ kế tiếp ===")
print(pred_df)

2023-07-27 18:00:00
(150, 9)
Future features shape: (3, 66)
=== Dự đoán t giờ kế tiếp ===
                     y_pred
datetime
2023-07-27 16:00:00       1
2023-07-27 17:00:00       1
2023-07-27 18:00:00       1

c:\Users\ASUS\anaconda3\envs\ute\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,